*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*layout*/
.background-red{
    background-color: red;
}

.background-green{
    background-color: green;
}

.background-yellow{
    background-color: yellow;
}

.background-blue{
    background-color: blue;
}

.background-brown{
    background-color: brown;
}

.background-violet{
    background-color: violet;
}

.background-black{
    background-color: black;
}

.h-50px{
    height: 50px;
}

.h-100px{
    height: 100px;
}

.h-500px{
    height: 500px;
}

.h-100vh{
    height: calc(100vh - 50px);
}

.h-200px{
    height: 200px;
}

.h-300px{
    height: 300px;
}

.w-100p{
    width: 100%;
}
/*fine layout*/

/*header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.margin-input{
    margin-top: 7px;
}

.margin-bell{
    margin-top: 13px;
}

.background-input{
    background-color: lightgray;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.img-mobile{
    width: 50px;
}
/*fine header*/

/*sidebar*/
.section-sidebar{
    width: 60px;
    height: calc(100vh - 50px);
    position: fixed;
    margin-top: 60px;
}

.background-sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.ul-sidebar{
    list-style-type: none;
    color: white;
    padding: 0;
}
/*fine sidebar*/

/*main*/
/*main centrale*/
main{
    padding-top: 60px;
}

.main-centrale{
    width: calc(100% - 60px);
    height: calc(100vh - 60px);
    margin-left: 60px;
}
/*jumbotron*/
.background-jumbo{
    background-color: #1b72e7;
}

.btn-primary{
    border: 1px solid white;
}
/*fine main*/

/*media query*/
/*tablet*/
@media screen and (min-width: 991px) {
    .section-sidebar{
        width: 170px;
    }

    .main-centrale{
        width: calc(100% - 170px);
        margin-left: 170px;
    }
}